<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        h2 {
            color: red;
        }

        nav {
            background-color: #63D1B0;
        }

        nav a.navbar-brand {
            color: black;
            float: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        nav a:hover {
            color: black
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">m a n a</a>
</nav>
<br>
{% block content %}{% endblock %}
<br>
<h2>Footer</h2>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>

{# TODO: sign in / sign out #}
{# TODO: on sign in - propmt for password #}