{% extends "base.html" %}
{% block content %}
    <h3> {{ config.name }} </h3>
    {% if isAdmin and not config.showOnAdmin %}
        <a href="../api/configurations/{{ config.name }}/show_on_admin"><input type=”button”
                                                                               value=”to_admin”>To Admin</a>
    {% endif %}
    {% if isAdmin %}
        {# TODO: delete configuration #}
        {# TODO: edit configuration #}
    {% endif %}
    {% for pvalue in pvalues %}
        <p> {{ pvalue.pinfo.name }} : {{ pvalue.value }}  </p>
    {% endfor %}
{% endblock %}
