{% extends "base.html" %}
{% block content %}
    {% if isAdmin %}
        <h3>Admin Configurations</h3>
        {% for config in admin_configurations %}
            <p><a href="configurations/{{ config.name }}"> {{ config.name }} </a></p>
        {% endfor %}
    {% endif %}

    <h3>All Configurations</h3>
    {% for config in all_configurations %}
        <p><a href="configurations/{{ config.name }}"> {{ config.name }} </a></p>
    {% endfor %}
{% endblock %}

{# TODO: button for new configuration #}