{% extends "base.html" %}
{% block content %}
    {# TODO: search bar for configurations #}
    {#    <form class="form-inline">#}
    {#        <div class="form-group mx-sm-3 mb-2">#}
    {#            <label for="inputName" class="sr-only">Name</label>#}
    {#            <input type="text" class="form-control" id="inputName" placeholder="Name" value="{{ inputName }}">#}
    {#        </div>#}
    {#        <button type="submit" class="btn btn-primary mb-2" href="/search/{{ inputName }}">Search</button>#}
    {#    </form>#}
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <a href="/configurations">
            <button type="button" class="btn btn-secondary">VIEW ALL CONFIGURATIONS</button>
        </a>
        <a href="/new_configuration">
            <button type="button" class="btn btn-secondary">ADD NEW CONFIGURATION</button>
        </a>
        <a href="/parameters">
            <button type="button" class="btn btn-secondary">VIEW ALL PARAMETERS</button>
        </a>
        {% if isAdmin %}
            <a href="/new_parameter">
                <button type="button" class="btn btn-secondary">ADD NEW PARAMETER</button>
            </a>
        {% endif %}
    </div>
{% endblock %}