{% extends "base.html" %}
{% block content %}
    <h3> NEW PARAM </h3>
    <form onsubmit="addPinfo(document.getElementById('paramName').value,document.getElementById('paramInfo').value)">
        <div class="form-group">
            <label for="paramName">Name</label>
            <input type="text" class="form-control" id="paramName" placeholder="Enter parameter name">

            <label for="paramInfo">Info</label>
            <input type="text" class="form-control" id="paramInfo" placeholder="Enter parameter description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}