{% extends "base.html" %}
{% block content %}
    {% if isAdmin %}
        <p><a href="new_parameter"> Create new </a></p>
    {% endif %}

    <h3>Available Parameters</h3>
    {% for param in parameters %}
        <p>{{ param.name }}</p>
        <p> ------- {{ param.info }}</p>
        {% if isAdmin %}
            <button type="submit" class="btn btn-primary"
                    onclick="httpDelete('/api/pinfos/{{ param.name }}'); location.reload()">Delete
            </button>
            <button type="submit" class="btn btn-primary">Edit</button>
        {% endif %}
    {% endfor %}
{% endblock %}

{# TODO: delete if admin #}
{# TODO: edit if admin #}